mixin textInput(id, label, placeholder)
  .form-group
    label(for=id)= label
    input.form-control(type="text" id=id placeholder=placeholder)

mixin selectInput(id, label)
  .form-group
    label(for=id)= label
    select.form-control.custom-select(id=id)
      if block
        block
      else
        option(value="0") No Options provided

mixin multiSelectInput(id, label)
  .form-group(id=id)
    label(for=id)= label
    block

mixin multiSelectInputOption(value, label)
  .form-check
    input.form-check-input(type="checkbox" id=value)
    label.form-check-label(for=value)= label

mixin captcha()
  p TODO: captcha here

mixin submit()
  .form-group
    button#submit.btn.btn-block.btn-primary Absenden

mixin submittedData(data)
  table.table.table-striped
    thead
      tr
        th Field
        th Value
    tbody
      each key, value in data
        tr
          th= key
          td= value